<%= form_with(model: failure) do |form| %>
  <% if failure.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(failure.errors.count, "error") %> prohibited this failure from being saved:</h2>

      <ul>
        <% failure.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, '失敗のタイトル', class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :category_id, 'カテゴリー', class: 'form-label' %>
    <%= form.collection_select :category_id, @categories, :id, :name, {}, class: 'form-select' %>
  </div>

  <div class="mb-3">
    <%= form.label :date, '発生日', class: 'form-label' %>
    <%= form.date_field :date, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :description, '詳細説明', class: 'form-label' %>
    <%= form.text_area :description, rows: 5, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :lessons_learned, '学んだ教訓', class: 'form-label' %>
    <%= form.text_area :lessons_learned, rows: 3, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit '保存する', class: 'btn btn-primary' %>
  </div>
<% end %> 